// RUN: sed -e 's/##ARCH##/%arch/g' %s | rocmlir-gen -ph -print-results -rand none - | rocmlir-driver -c  | mlir-runner -O2 --shared-libs=%linalg_test_lib_dir/%shlibprefixmlir_rocm_runtime%shlibext,%conv_validation_wrapper_library_dir/%shlibprefixconv-validation-wrappers%shlibext,%linalg_test_lib_dir/%shlibprefixmlir_runner_utils%shlibext --entry-point-result=void --mattr=-avx512bf16 | FileCheck %s

// CHECK:  [5]
#map_expand = affine_map<(d0, d1, d2) -> (d1 + d2)>
#tf_expand = #rock.transform_map<#map_expand by [<AddDim{{1}} ["g"] at [0] -> [] at []>, <Unmerge{{1, 1}} ["m", "k"] at [1, 2] -> ["raw"] at [0]>] bounds = [1, 1, 1] -> [1]>
#map_flat = affine_map<(d0) -> (0, 0, 0)>
#tf_flat = #rock.transform_map<#map_flat by [<Merge{{1, 1, 1}} ["raw"] at [0] -> ["g", "m", "n"] at [0, 1, 2]>] bounds = [1] -> [1, 1, 1]>
module attributes {{rock.arch = "##ARCH##"}} {{
  func.func @test_fusion(%arg0: tensor<1x{type}>, %arg1: tensor<1x{type}>, %arg2: tensor<1x{type}>) -> tensor<1x{type}> attributes {{rock.kernel}} {{
    %a = rock.transform %arg0 by #tf_expand : tensor<1x{type}> to tensor<1x1x1x{type}>
    %b = rock.transform %arg1 by #tf_expand : tensor<1x{type}> to tensor<1x1x1x{type}>
    %cst = arith.constant dense<4.0> : tensor<1x1x1x{type}>
    %a_added = arith.addf %a, %cst : tensor<1x1x1x{type}>
    %result = rock.gemm %a_added * %b : tensor<1x1x1x{type}> * tensor<1x1x1x{type}> -> tensor<1x1x1x{type}>
    %flat = rock.transform %result by #tf_flat : tensor<1x1x1x{type}> to tensor<1x{type}>
    %stored = rock.store %flat to %arg2 by set : tensor<1x{type}> -> tensor<1x{type}> to tensor<1x{type}>
    return %stored : tensor<1x{type}>
  }}
}}
