// Copyright Advanced Micro Devices, Inc.
// SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
//
// RUN: rocmlir-gen -fut dot_add --arch %arch --clone-harness %s | rocmlir-driver -kernel-pipeline=migraphx,highlevel -host-pipeline=migraphx,highlevel | rocmlir-gen -ph -print-results -rand none -fut dot_add - | rocmlir-driver -c | rocm-run | FileCheck %s
// RUN{disablep}: rocmlir-gen -fut dot_add --arch %arch --clone-harness %s | rocmlir-driver -kernel-pipeline=migraphx,highlevel -host-pipeline=migraphx,highlevel | rocmlir-gen -ph -print-results -rand 1 -rand_type float -fut dot_add --verifier clone - | rocmlir-driver -c | rocm-run | FileCheck %s --check-prefix=CLONE


module {{
  // CHECK:  [5,     5,     5,  5,     5,     5,  5,     5,     5,  5,     5,     5,  5,     5,     5]

  // CLONE: [1 1 1]
  // CLONE-NEXT: Unranked Memref base

  func.func @dot_add(%arg0: !migraphx.shaped<1x5x4x{type}, 20x4x1>, %arg1: !migraphx.shaped<1x4x3x{type}, 12x3x1>, %arg2: !migraphx.shaped<1x5x3x{type}, 15x3x1>) -> !migraphx.shaped<1x5x3x{type}, 15x3x1> attributes{{rock.kernel, rock.arch = ""}} {{
    %0 = migraphx.dot %arg0, %arg1 : <1x5x4x{type}, 20x4x1>, <1x4x3x{type}, 12x3x1> -> <1x5x3x{type}, 15x3x1>
    %2 = migraphx.add %0, %arg2 {{}} : <1x5x3x{type}, 15x3x1>, <1x5x3x{type}, 15x3x1> -> <1x5x3x{type}, 15x3x1>
    return %2 : !migraphx.shaped<1x5x3x{type}, 15x3x1>
  }}
}}
